{% extends "base.html" %}

{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}{{instance.title}} | {{block.super}}{% endblock %}

{% block post_detail_link %}
<li><a href="{{instance.get_absolute_url}}">{{instance.title}}</a></li>
{% endblock %}

<style type="text/css">
{% block style %}
h1{
    color: #777777;
}
{% endblock %}
</style>

{% block content %}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <H1>Detail View</H1>
        {% if instance.image %}
        <img src="{{instance.image.url}}" class="img-responsive">
        {% endif %}
        <h1>{{title}} <small>{% if instance.draft%}<span style="color: red;">Draft</span>{% endif %} {{instance.publish}}</small></h1>
        <p>Readtime : {% if instance.read_time < 1 %} < 1 minute {% else %}{{instance.read_time}} minutes{% endif %}</p>
        {% if instance.user.get_full_name %}
        <p>Autho: {{instance.user.get_full_name}}</p>
        {% endif %}

        <a href="http://v.t.sina.com.cn/share/share.php?title={{instance.content|truncatechars:80|urlify}}%20&url={{ request.build_absolute_url }}" target="_blank">
            share on weibo<i class="fa fa-weibo fa-4x" aria-hidden="true"></i></a>
        {{instance.content|linebreaks}}

        <div class="row">
            <div class="col-sm-12">
                <div class="post-detail-item">{{instance.get_markdown}}</div>

                <div class="">
                    <p>Comments</p>
                    {% if request.user.is_authenticated %}
                    <form method="post" action="">{% csrf_token %}
                        {{comment_form|crispy}}
                        <input type="submit" value="Post Comments" class="btn btn-default">
                    </form>
                    {% else %}
                    <p>You must login to post comment </p>
                    {% endif %}
                    <hr>
                    {% for comment in comments %}
                    {{comment.content_object}}
                    <blockquote>
                        <p>{{comment.content}}</p>
                        <footer>via {{comment.user }} | {{comment.timestamp|timesince}} ago | {% if comment.children.count > 0 %}{{comment.children.count}} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %} <a class="comment-reply-btn" href="#">Reply</a> | <a class="comment-thread" href="{{comment.get_absolute_url}}">Thread</a>
                        </footer>
                        <div class="comment-reply">
                            {% for child_comment in comment.children %}
                            <blockquote>
                                <p>{{child_comment.content}}</p>
                                <footer>via {{child_comment.user }} | {{child_comment.timestamp|timesince}} ago</footer>
                            </blockquote>
                            {% endfor %}
                            {% if request.user.is_authenticated %}
                            <form method="post" action="">{% csrf_token %}
                                {{comment_form|crispy}}
                                <input type="hidden" name="parent_id" value="{{comment.id}}">
                                <input type="submit" value="Post Comments" class="btn btn-default">
                            </form>
                            {% else %}
                            <p>You must login to comment </p>
                            {% endif %}
                        </div>
                    </blockquote>               
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>        
    </div>
</div>


{% endblock content %}