{% extends "base.html" %}

{% load urlify %}

{% block head_title %}{{instance.title}} | {{block.super}}{% endblock %}

<style type="text/css">
{% block style %}
h1{
    color: #777777;
}
{% endblock %}
</style>

{% block content %}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <H1>Detail View</H1>
        {% if instance.image %}
        <img src="{{instance.image.url}}" class="img-responsive">
        {% endif %}
        <h1>{{title}} <small>{% if instance.draft%}<span style="color: red;">Draft</span>{% endif %} {{instance.publish}}</small></h1>
        {% if instance.user.get_full_name %}
        <p>Autho: {{instance.user.get_full_name}}</p>
        {% endif %}

        <a href="http://v.t.sina.com.cn/share/share.php?title={{instance.content|truncatechars:80|urlify}}%20&url={{ request.build_absolute_url }}" target="_blank">
            share on weibo<i class="fa fa-weibo fa-4x" aria-hidden="true"></i></a>
        {{instance.content|linebreaks}}
    </div>
</div>
{% endblock content %}